body{
  background-color: #128978;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid #000000;
  border-radius: 20px;
}
.profile{
  width: 30%;
  height: auto;
  background-color: pink;
  margin: 2%;
  padding: 2%;
  border: 3px solid #000000;
  border-radius: 20px;
}
.content{
  width: 70%;
  height: auto;
  background-color: #FFF123;
  margin: 2%;
  padding: 2%;
  border: 3px solid #000000;
  border-radius: 20px;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #000000;
  border-radius: 50%;
  vertical-align: middle;
}
h1,h2
{
  text-align:center;
  font-style: italic;
  color: #123456;
}
a{
  text-decoration: none;
}
